@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800&display=swap');

:root {
  --font-primary: 'Inter', sans-serif;
  --primary-color: #dd4444;
  --color-dark1: #000000;
  --color-dark2: #7d8184;
  --color-white: #ffffff;
  --color-white2: #f5f5f5;
  --star-color: #FFAD33;
  --btn-secondary: #00FF66;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* 1 rem = 10px */
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  /* line-height: 1.5;
  color: var(--tertiary-color); */
}

a {
  text-decoration: none;
  color: var(--color-dark1);
}

ul {
  list-style: none;
}

/* UTILITIES */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  padding: 13px 20px;
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: var(--color-dark1);
}

.btn-block {
  display: block;
  width: 100%;
}


/* TOP NAV */
.top-nav {
  width: 100%;
  height: 4rem;
  background-color: var(--color-dark1);
}

.top-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav-wrapper {
  display: flex;
  color: var(--color-white);
}

.top-nav-p {
  font-size: 1.4rem;
  font-weight: 400;
}

.top-nav-link{
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
  transition: 0.5s;
}

.top-nav-link:hover {
  color: var(--primary-color);
}

/* NAV BAR */
.nav {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  /* border-bottom: 1px solid var(--color-dark2); */
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.3px solid var(--color-dark2);
  padding-bottom: 15px;
  
}

.nav-logo {
  font-size: 2.6rem;
  font-weight: 800;
  color: var(--color-dark1);
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin-left: 2rem;
}

.nav ul li a {
  position: relative;
  transition: 0.5s;
}

.nav ul li a::after {
  content: ''; /* Create the line */
  position: absolute;
  bottom: -5px; /* Adjust this value to control the distance of the line from text */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color); /* Color of the line */
  transform: scaleX(0); /* Initially set the line width to zero */
  transform-origin: bottom left; /* Set the transformation origin to the bottom left corner */
  transition: transform 0.3s; /* Smooth transition for line appearance */
}

.nav ul li a:hover {
  color: var(--primary-color);
}

.nav ul li a:hover::after {
  transform: scaleX(1); /* Expand the line width to 100% on hover */
}

.nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-form {
  padding: 0.8rem;
  background-color: var(--color-white2);
}

.nav-input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.nav .size {
  font-size: 2rem;
}

.nav .nav-items i {
  cursor: pointer;
}

/* HERO SECTION */
.header-container {
width: 100%;
height: 346px;
display: flex;
margin-top: 4rem;
}

.header-filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 2px solid var(--color-dark1);
}

.header .header-filter a {
  transition: 0.5s;
}

.header .header-filter a:hover {
  color: var(--primary-color);
}

/* ALL PRODUCTS SECTION */
.all-products-section {
  margin-top: 10rem;
}

.all-products-container {
  border-bottom: 3px solid var(--color-dark2);
  padding-bottom: 15px;
}

/* Flash Sale */
.section-category-p {
  border-left: 1.4rem solid var(--primary-color);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-size: 1.3rem;
}

.section-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4rem;
}

.section-title {
  margin-right: 2rem;
  font-size: 2.6rem;
}

#demo {
  font-size: 2.5rem;
  font-weight: 800;
}

/* Slider */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Card Properties */
.swiper .card {
  margin-bottom: 4rem;
}

.swiper .card-top {
  width: 280px;
  height: 250px;
  background-color: var(--color-white2);
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.swiper .card-tag {
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  position: absolute;
  top: 5%;
  left: 5%;
}

.swiper .card-tag p {
  color: var(--color-white);
  font-weight: 300;
}

.swiper .card-icon,
.swiper .card-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 10px;
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
}

.swiper .card-icon1 {
  top: 25%;
}

.swiper .card-icon,
.swiper .card-icon1  i {
  font-size: 1.6rem;
}


/* Star Rating */
.swiper .card-body {
  margin: 1rem .5rem;
  text-align: left;
}

.swiper .card-body h3 {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.swiper .card-body > p {
  color: var(--primary-color);
  margin-bottom: .8rem;
}

.swiper .card-body .card-ratings .card-stars {
  display: flex;
}

.swiper .card-body .card-ratings .card-stars i {
  color: var(--star-color);
}

.swiper .card-body .card-ratings .card-stars p {
  margin-left: 1rem;
  color: var(--color-dark2);
}

.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
