@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800&display=swap');

:root {
  --font-primary: 'Inter', sans-serif;
  --primary-color: #dd4444;
  --color-dark1: #000000;
  --color-dark2: #7d8184;
  --color-white: #ffffff;
  --color-white2: #f5f5f5;
  --color-green: #00d656;
  --star-color: #FFAD33;
  --btn-secondary: #00FF66;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* 1 rem = 10px */
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  /* line-height: 1.5;
  color: var(--tertiary-color); */
}

a {
  text-decoration: none;
  color: var(--color-dark1);
}

ul {
  list-style: none;
}

/* UTILITIES */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  padding: 10px 15px;
  color: var(--color-white);
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: var(--color-dark1);
}

.btn-block {
  display: block;
  width: 100%;
}

/* STAR PROPERTIES */
.w-6 {
  width: 2rem;
  height: 2rem;
}
.h-6 {
  fill: var(--star-color);
}


/* TOP NAV */
.top-nav {
  width: 100%;
  height: 4rem;
  background-color: var(--color-dark1);
}

.top-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav-wrapper {
  display: flex;
  color: var(--color-white);
}

.top-nav-p {
  font-size: 1.4rem;
  font-weight: 400;
}

.top-nav-link{
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
  transition: 0.5s;
}

.top-nav-link:hover {
  color: var(--primary-color);
}

/* NAV BAR */
.nav {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  /* border-bottom: 1px solid var(--color-dark2); */
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.3px solid var(--color-dark2);
  padding-bottom: 15px;
  
}

.nav-logo {
  font-size: 2.6rem;
  font-weight: 800;
  color: var(--color-dark1);
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin-left: 2rem;
}

.nav ul li a {
  position: relative;
  transition: 0.5s;
}

.nav ul li a::after {
  content: ''; /* Create the line */
  position: absolute;
  bottom: -5px; /* Adjust this value to control the distance of the line from text */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color); /* Color of the line */
  transform: scaleX(0); /* Initially set the line width to zero */
  transform-origin: bottom left; /* Set the transformation origin to the bottom left corner */
  transition: transform 0.3s; /* Smooth transition for line appearance */
}

.nav ul li a:hover {
  color: var(--primary-color);
}

.nav ul li a:hover::after {
  transform: scaleX(1); /* Expand the line width to 100% on hover */
}

.nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-form {
  padding: 0.8rem;
  background-color: var(--color-white2);
}

.nav-input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.nav .size {
  font-size: 2rem;
}

.nav .nav-items i {
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* MOBILE NAV */
.mobile-nav {
  background-color: var(--color-white);
  padding: 2rem;
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--color-dark2);
  transition: all 0.5s ease;
  /* width: 50%; */
}

.mobile-nav-item {
  margin: 1.2rem 0;
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--color-white2);
}

.mobile-nav-link {
  padding: 1.2rem 5rem 1.2rem 0;
}

.mobile-nav-hide {
  display: none;
}

.mobile-nav-list.open {
  height: 100vh;
}

/* HERO SECTION */
.header-container {
  display: flex;
  justify-content: space-between;
}

.header .left-col {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-around;
}

.header .header-filter a {
  transition: 0.5s;
}

* .header .header-filter a:hover {
  color: var(--primary-color);
}

.header .right-col {
  background-color: var(--color-dark1);
  width: 100%;
}

.header .hero {
  padding: 5rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 30px;
  align-items: center;
}

.hero .apple-logo {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.header .hero .hero-content {
  color: var(--color-white);
}

.header .hero .hero-content p,
.header .hero .hero-content a {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: 300;
}

.header .hero .hero-content h2 {
  width: 70%;
  font-size: 4rem;
  line-height: 1.5;
  margin: 3rem 0;
}

.header .hero .hero-content a {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-white);
}

.header .hero .hero-content a:hover {
  color: var(--color-green);
  border-bottom: 1px solid var(--color-green);
}

.hero .shop-now {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.hero .shop-now {
  transition: 0.5s ease-in-out;
}

.hero .shop-now:hover {
  color: var(--btn-secondary);
}

.hero-img {
  width: 100%;
}


/* ALL PRODUCTS SECTION */
.all-products-section {
  margin-top: 10rem;
}

.all-products-container {
  border-bottom: 2.3px solid var(--color-dark2);
  padding-bottom: 15px;
}

/* Flash Sale */
.section-category-p {
  border-left: 1.4rem solid var(--primary-color);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-size: 1.3rem;
}

.section-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4rem;
}

.section-title {
  margin-right: 2rem;
  font-size: 2.6rem;
}

#demo {
  font-size: 2.5rem;
  font-weight: 800;
}

/* Slider */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}


/* Card Properties*/
.card {
  margin-bottom: 5rem;
}
.card_top {
  width: 100%;
  height: 22rem;
  position: relative;
}
.card_img {
  width: 100%;
  height: 100%;
}
.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background-color: var(--primary-color);
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 0.5rem;
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
}
.card_top_icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 10rem;
}
.card_body {
  margin-top: 1rem;
  text-align: left;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.card_price {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.card_ratings {
  display: flex;
}
.card_stars {
  margin-right: 1rem;
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}

/* Star Rating */
.swiper .card-body {
  margin: 1rem .5rem;
  text-align: left;
}

.swiper .card-body h3 {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.swiper .card-body > p {
  color: var(--primary-color);
  margin-bottom: .8rem;
}

.swiper .card-body .card-ratings .card-stars {
  display: flex;
}

.swiper .card-body .card-ratings .card-stars i {
  color: var(--star-color);
}

.swiper .card-body .card-ratings .card-stars p {
  margin-left: 1rem;
  color: var(--color-dark2);
}

.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

/* BROWSE CATEGORY */
.all-products-container {
  border-bottom: 2.3px solid var(--color-dark2);
  padding-bottom: 6rem;
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
}

.categories .category-icon {
  text-align: center;
  padding: 3rem;
  border: 2.5px solid var(--color-white2);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.categories .category-icon:hover {
  background-color: var(--primary-color);
}

.categories .category-icon img {
  width: 3.5rem;
  height: auto;
}

/* BEST SELLING SECTION */
.best-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
}

.best-selling-section-title {
  width: 83%;
}

/* TRENDING SECTION */
.trending {
  margin: 7rem 0;
  background-color: var(--color-dark1);
  padding: 8rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 30px;
  align-items: center;
}

.trending p {
  color: var(--color-green);
}

.trending h2 {
  color: var(--color-white);
  line-height: 1.3;
  font-size: 4rem;
  margin: 3rem 0 5rem 0;

}

.trending-img {
  width: 100%;
}
.trending img {
  width: 100%;
}

/* EXPLORE PRODUCTS SECTION */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}


/* NEW ARRIVAL SECTION */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 1.5rem;
}

.gallery-item {
  width: 100%;
  position: relative;
}

.gallery-item-content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;
  width: 70%;
}

.gallery-item-title {
  color: var(--color-white);
  font-size: 2.2rem;
}

.gallery-item-p {
  color: var(--color-white);
  font-size: 1.4rem;
  margin: 1rem 0;
}

.gallery-item-link {
  font-size: 1.2rem;
  color: var(--color-white);
  text-decoration: underline;
  transition: 0.5s;
}

.gallery-item-link:hover {
  color: var(--color-green);
}

.gallery-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery-item-2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery-item-3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}

.gallery-item-4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 8;
}

/* SERVICES SECTION */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem;
}

.services-container .service {
  text-align: center;
}

.services-container .service-img {
  margin-bottom: 1rem;
  transition: 0.3s;
}

.services-container .service-img:hover {
  opacity: .5;
}


.services-container .service-title {
  margin-bottom: .6rem;
  font-weight: 600;
}

.services-container .service-title-p {
  font-size: 1.3rem;
}

/* FOOTER */

.footer {
  padding: 4rem 0;
  margin-top: 4rem;
  background-color: var(--color-dark1);
  width: 100%;
  color: var(--color-white);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.footer-logo {
  color: var(--color-white);
  font-weight: 700;
}

.footer form {
  margin-top: 4rem;
}

.footer form input {
  padding: 8px 16px;
  outline: none;
  border: none;
  margin-bottom: 5px;
}

.footer-p {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer-item ul li {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.3rem;
}

.footer-item ul li a {
  color: var(--color-white);
  transition: 0.3s;
}

.footer-item .footer-download-links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-download-links .right-col {
  width: 50%;
}


.footer-download-links .left-col {
  width: 50%;
}

.footer-socials {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials a img {
  transition: 0.3s;
}

.footer-socials a img:hover,
.footer-item ul li a:hover {
  opacity: 0.7;
}

.footer-bottom-container {
  text-align: center;
}

.footer-copy {
  font-size: 1.5rem;
  color: var(--color-dark2);
  padding-top: 5rem;
}



/* MEDIA SCREEN */
@media (max-width: 1024px) {
  .footer-download-links .left-col img {
    width: 80%;
  }

  .footer-download img {
    width: 100%;

  }
}


@media (max-width: 998px) {
  .header .hero .hero-content h2 {
    width: 100%;
  }

  /* New Arrivals */
  .gallery-item-title {
    color: var(--color-white);
    font-size: 1.5rem;
  }
  
  .gallery-item-p {
    color: var(--color-white);
    font-size: 1rem;
    margin: .4rem 0;
  }
  
  .gallery-item-link {
    font-size: .7rem;
    color: var(--color-white);
    text-decoration: underline;
    transition: 0.5s;
  }
  
}


@media (max-width: 900px) {
  .top-nav p,
  .top-nav a {
    font-size: 1.2rem;
  }

  .nav-logo {
    font-size: 1.8rem;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .nav .nav-items {
    gap: 10px;
  }

  .nav-form {
    padding: .5rem;
    font-size: 1.4rem;
  }

  .nav .size {
    font-size: 1.6rem;
  }

  .header .hero .hero-content h2 {
    font-size: 3rem;
    margin: 10px 0;
  }

  .service-title {
    font-size: 1.3rem;
  }

  .services-container .service-title-p {
    font-size: 1rem;
  }
}


@media (max-width: 725px) {
  .top-nav,
  .nav ul,
  .nav .nav-items,
  .header-filter a {
    display: none;
  }

  .header-container {
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  /* Trending */
  .trending {
    gap: 7rem;
  }

  .trending h2 {
    font-size: 3rem;
    margin: 10px 0 20px 0;
  }

  .trending p,
  .trending a {
    font-size: 1.4rem;
  }

  /* New Arrivals */
  .gallery-item-title,
  .gallery-item-p {
   display: none;
  }
  
}

@media (max-width: 587px) {
  .apple-logo,
  .shop-now {
    justify-content: center;
  }

  .hero-title {
    text-align: center;
  }

  .apple-logo img {
    width: 8%;
  }

}

@media (max-width: 375px) {
  .section-category-p {
    border-left: 1rem solid var(--primary-color);
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-size: 1.1rem;
  }

  #demo {
    font-size: 2rem;
    font-weight: 800;
  }

  .section-title {
    margin-right: 1.5rem;
    font-size: 2rem;
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}





